<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.samba.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/samba/sbin/smbd</string>
        <string>--daemon</string>
        <string>-l</string>
        <string>/var/log/</string>
        <string>-s</string>
        <string>/opt/samba/etc/smb.conf</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>Crashed</key>
        <true/>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
</dict>
</plist>
